<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzr.webdemo.mapper.UserMapper">
    <select id="getTeachers" resultType="com.xzr.webdemo.entity.User">
        SELECT *
        FROM yespaper.tb_user
        where type = 'reviewer'
    </select>
</mapper>